body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F2EFE6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
nav > ul  {
    display: flex;
    gap: 20px;
}
nav > ul > a > li{
    list-style: none;
}

nav > ul > a, header a{
    text-decoration: none;
    color: black;
}
#talk{
    background-color: #FEDA0A;
    border-radius: 30px;
    padding: 10px 30px;
}

.banner{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 50px;
}
.intro{
    margin: 40px 0 0 60px;
}
.banner > .intro > ul {
    display: flex;
    gap: 20px;
    padding-left: 13px;
}
main > div > a{
    text-decoration: none;
    
}
#want{
    margin-right: 12px;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 800;
}
#let{
    background-color: #FEDA0A;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 5px 30px;
    font-size: 12px;
    font-weight: 800;
}
.banner > .intro > a{
    text-decoration: none;
}
.banner > .avatar{
    display: flex;
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 100%;
    background-image: url(./WhatsApp\ Image\ 2023-09-12\ at\ 13.03.21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.middle-heading{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    color: white;
}
main > div > ul{
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}


.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background-color: #D9D9D9;
   margin: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card h1 {
    font-size: 15px;
}
.view-all{
    /* text-decoration: none; */
    background-color: #FEDA0A;
    border-radius: 30px;
    color: black;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}
.portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.portfoli-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.port-card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
}
.port-card h3{
    padding-bottom: 30px;
    padding-top: 80px;
}
.port-card p{
    text-align: left;
    padding: 10px;
}
.port-card a{
    text-decoration: none;
    color: black;
}
.testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#wordtest{
    margin-bottom: 150px;
}

.test-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.testi-card{
    width: 300px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 10px 10px 60px 10px;
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testi-card p{
    font-size: 14px;
    text-align: left;
    padding: 20px;
}

.test-card-img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50;
    left: 70px;
    right: 0;
    bottom: 205px;

}

.foot{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 40%;
    background-color: black;
    color: white;
}
.foot-content{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
.foot-content h1{
    margin-right: 300px;
    font-size: 80px;
}

@media screen and (max-width:700px){
    header{
        display: none;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .intro{
        justify-content: center;
        align-items: center;
    }
    .intro h1{
        font-size: 14px;
        display: inline-block;
        text-align: center;
        margin: 0px;
    }
    .intro ul li{
        font-size: 10px;
        margin-top: 0px;
    }
    #want, #let{
        font-size: 8px;
        padding: 2px 5px;
    }

    .middle-heading{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30%;
    }
    .middle-heading ul{
        font-size: 6px;
        padding: 5px 5px;
        margin: 0;
        display: flex;
    }

    ::marker{
        margin: 0;
        padding: 0;
    }

    .service-cards{
        flex-direction: column;
    }
    .card{
        width: 180px;
        align-items: center;
        padding: 0 5px;
    }

    .card img{
        width: 15px;
        margin: 0;
        padding: 0;
    }
    .card h1{
        font-size: 9px;
    }
    .service-content > .service-header small{
        font-size: 8px;

    }

    .portfoli-card{
        flex-direction: column;
    }

    .port-card{
        width: 200px;
        height: 200px;
        padding: 0 5px 5px 5px;
    }

    .port-card h3{
        padding: 5px 0 0 15px;
        font-size: 15px;
    }
    .port-card p{
        padding: 10px;
        font-size: 12px;
    }

    .test-card{
        flex-direction: column;
    }
    .test-card-img{
        width: 70px;
        height: 70px;
    }

    .testi-card{
        width: 200px;
        height: 200px;
    }

    .testi-card p{
        font-size: 10px;
        padding: 10px;
    }

    .foot{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    .foot-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .foot-content h1{
        margin: 5px auto 0 auto;
        font-size: 25px;
    }
    .foot-content > .img{
        width: 9px;
    }
}